.scrollbar {
	overflow:hidden;
	position:relative
}
// .scrollbar:active>.scrollbar-bar,.scrollbar:focus>.scrollbar-bar,.scrollbar:hover>.scrollbar-bar {
// 	opacity:1;
// 	-webkit-transition:opacity 340ms ease-out;
// 	transition:opacity 340ms ease-out
// }
.scrollbar-wrap {
	overflow:scroll;
	height:100%;
	scroll-behavior: smooth;
}
// .scrollbar-wrap-hidden-default::-webkit-scrollbar {
// 	width:0;
// 	height:0
// }
// .scrollbar-thumb {
// 	position:relative;
// 	display:block;
// 	width:0;
// 	height:0;
// 	cursor:pointer;
// 	border-radius:inherit;
// 	background-color:rgba(144,147,153,.3);
// 	-webkit-transition:.3s background-color;
// 	transition:.3s background-color
// }
// .scrollbar-thumb:hover {
// 	background-color:rgba(144,147,153,.5)
// }
// .scrollbar-bar {
// 	position:absolute;
// 	right:2px;
// 	bottom:2px;
// 	z-index:1;
// 	border-radius:4px;
// 	opacity:0;
// 	-webkit-transition:opacity 120ms ease-out;
// 	transition:opacity 120ms ease-out
// }
// .scrollbar-bar.is-vertical {
// 	width:6px;
// 	top:2px
// }
// .scrollbar-bar.is-vertical>div {
// 	width:100%
// }
// .scrollbar-bar.is-horizontal {
// 	height:6px;
// 	left:2px
// }
// .scrollbar-bar.is-horizontal>div {
// 	height:100%
// }
