@import "variables";

.primary-color {
  color: $primary-color;
}
.primary-color-bg {
  background-color: $primary-color;
}
.link-color {
  color: $link-color;
}
.success-color {
  color: $success-color;
}
.warning-color {
  color: $warning-color;
}
.error-color {
  color: $error-color;
}
.font-size-base {
  color: $font-size-base;
}
.heading-color {
  color: $heading-color;
}
.text-color {
  color: $text-color;
}
.text-color-secondary  {
  color: $text-color-secondary ;
}
.disabled-color  {
  color: $disabled-color ;
}
.border-radius-base {
  color: $border-radius-base;
}
.border-color-base {
  color: $border-color-base;
}
.box-shadow-base {
  color: $box-shadow-base;
}
