p {
  padding: 0;
  margin: 0;
  line-height: 26px;
}
.c-left {
  position: relative;
}
.c-right {
  flex: 1;
  border-left: 2px solid #ccc;
}
.wire {
  width: 100px;
  min-height: 200px;
  border-left: 2px solid #ccc;
  i {
    font-size: 40px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 6px;
    margin-top: -32px;
  }
  .line {
    height: 1px;
    width: 100%;
    border: 1px solid #ccc;
  }
  &.vpc {
    border-left: none;
  }
  .name {
    display: inline-block;
    width: 54px;
    word-break: break-word;
  }
}
.list {
  list-style: none;
  padding: 0;
}
.res-container {
  width: 150px;
  height: 200px;
  border-top: 1px solid #ccc;
  position: relative;
  .line {
    display: block;
    height: 108px;
    width: 1px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 70px;
    &.full {
      height: 100%;
    }
  }
}
.res {
  width: 98px;
  height: 40px;
  text-align: center;
  position: absolute;
  left: 50px;
  .name {
    display: block;
  }
  .desc {
    margin: 0;
  }
  i {
    font-size: 26px;
    color: #000;
    border: 1px solid #ccc;
    padding: 6px;
    background-color: #fff;
  }
  &.res-ipsubnet {
    transform: translateY(-182%);
    i {
      border-radius: 50%;
    }
  }
}
