.res-topology {
  margin-left: 206px;
  p {
    padding: 0;
    margin: 0;
    line-height: 26px;
  }
  .bl-none {
    border-left: none !important;
  }
  .c-left {
    position: relative;
  }
  .c-right {
    position: relative;
    flex: 1;
    border-left: 2px solid #2D3A4D;
    &::after {
      content: "";
      background: rgb(255, 255, 255);
      width: 2px;
      height: 212px;
      position: absolute;
      left: -2px;
      bottom: 0;
    }
    &.res-topology-wire::after {
      height: 0;
    }
  }
  .res-topology-wire {
    border-left: none;
    .list .item:not(:last-child) {
      border-left: 2px solid #2D3A4D;
    }
  }
  .wire {
    width: 100px;
    min-height: 200px;
    border-left: 2px solid #2D3A4D;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: #696D76;
      border: 2px solid #E7E9EA;
      border-radius: 6px;
      width: 56px;
      height: 56px;
      margin-top: -18px;
    }
    .line {
      height: 0px;
      width: 100%;
      border: 1px solid #2D3A4D;
    }
    &.vpc {
      border-left: none;
    }
    .name {
      display: inline-block;
      width: 54px;
      word-break: break-word;
      color: #696D76;
    }
  }
  .wire-host {
    min-height: 220px;
  }
  .list {
    list-style: none;
    padding: 0;
  }
  .res-container {
    width: 150px;
    min-height: 200px;
    border-top: 2px solid #2D3A4D;
    position: relative;
    .line {
      display: block;
      height: 108px;
      width: 2px;
      background-color: #2D3A4D;
      position: absolute;
      top: 0;
      left: 76px;
      &.full {
        height: 100%;
      }
    }
    .common-left-line {
      width: 2px;
      height: 200px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #2D3A4D;
    }
  }
  .res-last {
    &::after {
      content: "";
      background: rgb(255, 255, 255);
      width: calc(50% - 3px);
      height: 2px;
      position: absolute;
      right: 0;
      top: -2px;
    }
  }
  .res {
    height: 40px;
    text-align: left;
    position: absolute;
    left: 50px;
    .name {
      display: block;
      width: 100px;
      text-align: left;
      color: #696D76;
    }
    .desc {
      margin: 0;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: #696D76;
      border: 2px solid #E7E9EA;
      border-radius: 6px;
      width: 56px;
      height: 56px;
      background-color: #fff;
    }
    &.res-ipsubnet {
      transform: translateY(-182%);
      // i {
      //   border-radius: 50%;
      // }
    }
  }
  .res-running {
    i {
      color: #52c41a !important;
    }
  }
  .res-host {
    height: auto;
    top: 70px;
  }
  .res-container-host{
    width: 300px;
    min-height: 320px;
    .line{
      left: 119px;
    }
    .res-box{
      display: flex;
      flex-direction: column;
      width:140px;
      border:solid 2px #E7E9EA;
      border-radius: 6px;
      padding:5px;
      background:#fff;

      i {
        align-self: center;
      }
    }
  }
  .is-exist {
    .name {
      color: rgba(153, 153, 153, 0.3);
    }
    i {
      color: rgba(153, 153, 153, 0.3);
      border: 1px solid rgba(153, 153, 153, 0.3);
    }
    .line {
      background-color: rgba(153, 153, 153, 0.3);
    }
    .res-box {
      border: solid 1px rgba(153, 153, 153, 0.3);
      .tag {
        background: rgba(153, 153, 153, 0.3)!important;
      }
    }
  }
  .title {
    margin-bottom: 2px;
    border-bottom: 1px solid #2D3A4D;
  }
  .ant-tooltip-inner {
    min-width: 200px;
    background-color: rgba(250,252,254, 1);
    color: #5D6F80;
    border: 1px solid #c8e2f7;
    border-radius: 4px;
  }
  .tag-list {
    
    .tag {
      color: #fff;
      box-sizing: border-box;
      background: #2D3A4D;
      margin: 2px 4px 2px 4px;
      padding: 0 5px;
      font-size: 12px;
      line-height: 20px;
      max-width: 100%;
      border: solid 1px #2D3A4D;
    }

    .storage-tag {
      border-radius: 10px;
    }
  }
  .tag-list-limit {
    max-height: 140px;
    overflow: hidden;
    .tag {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
