body {
  width: 100% !important;
}

#app, .app-container {
  height: 100%;
}

.oc-icon {
  display: inline-block;
  font-style: normal;
  vertical-align: -0.125em;
  text-align: center;
  text-transform: none;
  line-height: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  svg {
    display: inline-block;
  }
}

.error-notification {
  .ant-notification-notice-description {
    word-wrap: break-word;
    word-break: normal;
  }
}

.mini-text {
  font-size: 12px;
}

.small-text {
  font-size: 14px;
}

// 多行溢出隐藏，这里是3行之后溢出隐藏
.mutiline-text-truncate {
  overflow: hidden;
  /*将对象作为弹性伸缩盒子模型显示*/
  display: -webkit-box;
  /*设置子元素排列方式*/
  -webkit-box-orient: vertical;
  /*设置显示的行数，多出的部分会显示为...*/
  -webkit-line-clamp: 3;
}

// 兼容 safari 浏览器
.create-server-result-wrap {
  height: 74px;
}

// chart 自定义 tooltip 样式
.chart-tooltip-wrapper {
  background: rgba(250,252,254,0.81);
  padding: 8px;
  border: 1px solid #C8E2F7;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08);
  border-radius: 4px 4px 0px 0px 0px 4px 4px;
  border-radius: 4px;
}

.bill-kind-tabs-title {
  font-size: 20px;
  color: #000;
  height: 50px;
  line-height: 70px;
}

.bill-kind-tabs-subtitle {
  font-size: 12px;
  color: #ccc;
  font-weight: 500;
}

.bill-kind-tabs-content {
  height: 300px;
}

// 组合 input 和 select，详见 /k8s-deployment/create 的服务表单项
.oc-addonBefore {
  &:hover, &:active, &:visited, &:focus, &:focus-within {
    border-right: 0;
    border-color: #d9d9d9;
  }
  &.ant-input {
    border-color: #d9d9d9 !important;
  }
}
.week-link-button {
  color: rgb(155, 158, 160) !important;
  &:hover {
    color: rgb(155, 158, 160) !important;
  }
}
.opacity-0 {
  opacity: 0;
}
.oc-pointer {
  cursor: pointer;
}

.custom-date-time.ant-popover .ant-popover-message-title {
  padding-left: 0;
}
